---


const {nombre,id, imagen} = Astro.props
---


<div class="contenedor-personaje">
    
    <a href={`/personaje/${id}`}>
        <img src={imagen} alt="">
        <h3>{nombre}</h3>
    </a>
    
</div>

<style>
   
</style>

<script>
    
</script>

    

